<div class="container">

    <h2>Salvar contato</h2>

    <form #contatoForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
        <div [ngClass]="getFormGroupClass(nome.dirty)">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" placeholder="Digite o nome" required
            name="nome"
            #nome="ngModel"
            [(ngModel)]="contato.nome">
            <div class="invalid-feedback">O campo é obrigatório</div>
        </div>
        <div [ngClass]="getFormGroupClass(email.dirty)">
            <label for="email">Email</label>
            <input type="email" class="form-control" placeholder="Digite o e-mail" required
            name="email"
            #email="ngModel"
            [(ngModel)]="contato.email">
            <div class="invalid-feedback">O campo é obrigatório no formato email@dominio</div>
        </div>
        <div [ngClass]="getFormGroupClass(telefone.dirty)">
            <label for="telefone">Telefone</label>
            <input type="text" class="form-control" placeholder="Digite o telefone" required
            name="telefone"
            #telefone="ngModel"
            [(ngModel)]="contato.telefone">
            <div class="invalid-feedback">O campo é obrigatório</div>
        </div>
        <button type="submit" class="btn btn-success" [disabled]="!contatoForm.form.valid">Salvar</button>
        <a routerLink="/" class="btn btn-secondary">Voltar</a>
    </form>
</div>